*{
    margin: 0;
    padding: 0;

}
body{
    background-color: #548687;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}


.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    color: #b0413e;
    font-size: 8vmin;
    background-color: #ffffc7;
}
.box:hover{
    cursor: pointer;
    background-color: #fff;
}
#reset-btn{
    background-color: black;
    color: #fff;
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    background-color: black;
    color: #fff;
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: none;
}
#new-btn,#reset-btn:hover{
    cursor: grab;
    font-size: 1.7rem;
}
#msg{
    color: #ffffc7;
    font-size: 8vmin;
    
}
.msg-container {
   height: 80vmin;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 8rem;
}
.hide{
    display: none;
}